.gradle/
build/
out/

.idea/
*.iml

.vscode/

.DS_Store
Thumbs.db

*.log

.env
*.env
application-secret.yml
application-private.yml
src/main/resources/application-secret.yml
src/main/resources/application-private.yml
